.newsletter-wrapper {
  padding: 48px 24px;
  background: #f7faff;
  display: flex;
  flex-direction: row;
justify-content: center;
  gap: 64px
}

.newsletter-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.newsletter-org{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
}
.newsletter-logo {
  width: 184.099px;
height: 137px;
}

.org-name {
  color: var(--Blue-900, #09488A);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
   display: flex;
   align-self: center;
  line-height: 24px;
  font-feature-settings: "liga" off, "clig" off;
}

.org-sub {
  color: var(--Brand-500, #0D2691);
  font-family: "Open Sans";
  font-size: 14px;
   display: flex;
  font-style: italic;
  font-weight: 400;
  line-height: 11px;
   align-self: center;
}
.newsletter-divider {
  width: 1px;
  align-self: stretch;
  opacity: 0.2;
  background: var(--Blue-800, #0B5DB2);
}
.newsletter-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsletter-tag {
  color: var(--Blue-800, #0B5DB2);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.newsletter-title {
  color: var(--Blue-800, #0B5DB2);
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -1px;
}
.newsletter-input {
  display: flex;
  width: 307px;
  height: 48px;
  padding-left: 16px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Blue-800, #0B5DB2);
  font-family: "Open Sans";
}
.newsletter-btn {
  display: flex;
  height: 48px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--Blue-800, #0B5DB2);
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.newsletter-form {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}
