.testimonials-section {
  display: flex;
  padding: 48px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 48px;
  align-self: stretch;
}
.testimonials-tag {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.testimonials-title {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
}
.testimonials-cards {
  display: flex;
  gap: 24px;
}
.testimonial-card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid var(--Gray-200, #DBDBDB);
  background: #fff;
  width: 442px;
}
.quote-circle {
  display: flex;
  width: 68px;
  height: 68px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--Gray-200, #DBDBDB);
  background: #fff;
}
.testimonial-text {
  margin-top: 16px;
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
}
.testimonial-divider {
  width: 410px;
  height: 1px;
  background: var(--Gray-200, #DBDBDB);
  margin: 16px 0;
}
.testimonial-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonial-profile img {
  max-width: 48px;
  border-radius: 50%;
}

.profile-name {
  font-size: 16px;
  font-weight: 600;
  color: #0F0F0F;
}

.profile-role {
  font-size: 12px;
  color: #858585;
}
